$def with ()
<!DOCTYPE HTML>
<html>
<head>
<title>Window</title>
<style type="text/css">
	@charset "utf-8";
/* CSS Document */
.tabtop13 {
	margin-top: 30px;
}
.tabtop13 td{
	height:25px;
	line-height:150%;
}
.font-center{ text-align:center}
.btbg{background:#e9faff !important;}
.btbg1{background:#f3f3f3 !important;}
.titfont {
	font-family: Times New Roman;
	font-size: 20px;
	font-weight: bold;
	color: #255e95;
	background-color:#e9faff;
}
.titfont1 {
	font-family: Times New Roman;
	font-size: 25px;
	font-weight: bold;
	color: black;
}

</style>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header-bg">
	<div class="wrap"> 
		<div class="total-box">
				<div class="total">
					<div class="header_top">
				     	<div class="menu">
				     		<ul>
						    	<li><a href="mainPage">Back to Main Page</a></li>
						    	<div class="clear"></div>
			     			</ul>
				     	</div>
				     	<ul class="follow_icon">
							
						</ul>
		     			<div class="clear"></div>
		     	</div>
			     <div class="header-bottom">
					 <div class="logo">
						<center><h1><a href="login">Login Error!</a></h1></center>
					 </div>
					<div class="clear"></div> 
				</div>
			</div>	
		</div>
	 </div>
</div>
	<div class="banner-box">
		<div class="wrap">
			<div class="main-top">
			    <div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	

<!-- This is the main table -->

				</div>
  			</div>
				
				 <div class="clear"></div> 
			  </div>
			  
			</div>
		</div>
		<div class="wrap">
		    <div class="copy-right">
				<p>Copyright &copy; 2018.Workshop made by Leremy and Griffin.</p>
			</div>
		</div>	
	</div>
</body>
</html>

    	
    	
            